body {
    font-family: 'Roboto', sans-serif;;
    margin: 0;
    padding: 0;
}

#linkdiv {
    
    
}

#uldiv {
    text-align: right;
    margin-bottom: 20px;
    
    
}



ul {
    display: inline; 
    text-align: right;
    font-size: 10pt;
    text-align: right;
    
}

nav {
    
    display: inline;
    padding-top: 50px;
}


li {
    
    display: inline;
    padding-right: 30px;
}
h4 {
    display: inline;
    color: rgb(138, 173, 42);
    font-size: 20px;
    text-align: left;
    position: absolute;
    top: -29px;
    left: 70px;
    font-weight: 900;

}

#maroon {
    color:maroon
}

#content {
    width: 100%;
    height: 400px ;
    background-color: lightgrey;
    display: flex;
    margin: 0;
    position: relative;
    
}

#text {
    width: 250px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 60px;
}
h1 {
    margin: 0 auto;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
    font-weight: 900;
    font-size: 36pt;
}

p {
    margin: 0;
}

#pic1 {
    background-image: url(./images/apple-breakfast-quinoa-7.jpg); height: 300px; width: 200px; 
    background-size: 200px; 
    position: absolute;
    bottom: 50px;
    left: 350px;


}
#pic2 {
    background-image: url(./images/pasta-salad-recipe-for-lunch.jpg); height: 300px; width: 200px; 
    background-size: 200px; 
    /* display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center; */
    position:absolute;
    bottom: 50px;
    left: 575px;
}
#pic3 {
    background-image: url(./images/shrimp.jpg); height: 300px; width: 200px; 
    background-size: 200px;
    background-repeat: no-repeat;
    background-size: cover; 
    /* display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center; */
    position: absolute;
    bottom: 50px;
    left: 800px;
}
.bgwhite{
    background-color: white;
    font-size: 10pt;
    position: absolute;
    bottom: 30px;
    right: 0;
    padding: 12px;

    
}
.bggreen{
    background-color: rgb(138, 173, 42);
    font-size: 10pt;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px 12px 12px 45px;
    
}

